body
{
	font-family: Arial,Helvetica,Verdanna;
	font-size: 13px;
	color: #5792C3;
}

.bodylink
{
	color: #5792C3;
}
a.bodylink:hover
{
	color: #F00;
}

.warning
{
	font-family: Arial,Helvetica,Verdanna;
	font-size: 13px;
	color: #F00;
}

.message
{
	font-family: Arial,Helvetica,Verdanna;
	font-size: 13px;
	color: #5792C3;
}
